*
  margin: 0
  padding: 0
  font-family: Calibri
  box-sizing: border-box

a,input[type="submit"]
  text-decoration: none
  &:hover
    cursor: pointer
    text-decoration: underline

body
  background: #fff

header
  padding: .3em 1em
  background: #333
  text-align: right
  a
    color: #fff
    &:not(:first-child)
      margin-left: .6em

main
  padding: 1em

footer
  position: absolute
  bottom: 0
  width: 100%
  padding: 0 1em
  background: #333
  a
    color: #fff

nav
  display: flex
  border-bottom: 1px solid #333
  a
    padding: 1em
    color: #111

form
  display: table
  border: 1px solid #333
  border-radius: 6px
  margin: 1em auto
  padding: .5em 1em
  label,input
    display: block
    padding: .1em .2em
    &[type="submit"]
      border: 0
      background: transparent
      font-weight: bold
      float: right
      padding: .5em 1em 0 1em

ul
  list-style-position: inside
