*{
    font-family: Arial;
}

body{
    background: #333;
    color: #fff;
}

body > div{
    display: table;
    margin: 0 auto;
    padding-bottom: 4em;
}

a{
    color: aqua;
}

@media only screen and (max-width: 499px){
    slideshow wrap button::-moz-focus-inner {
        border: 0;
    }
}

@media only screen and (min-width: 500px){
    slideshow wrap button:hover{
        background-color: #999;
    }
}

slideshow{
    display: flex;
    flex-flow: column;
    width: 80%;
    max-width: 600px;
    margin:0 auto;
}

slideshow wrap, slideshow thumbnails{
    background-color: #fff;
}

/* MAIN */

slideshow wrap{
    display: flex;
}

slideshow wrap button{
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color ease-in-out .1s;
    cursor: pointer;
    flex: 1;
}

slideshow wrap img{
    padding: 1em;
    flex: 8;
    height:1%;
    width:1%;
}

/* THUMBNAILS*/

slideshow thumbnails{
    margin-top: .5em;
}

thumbnails img{
    padding: .5em;
    height: 80px;
}
