*{
    font-family: Arial;
}

body{
    background: #333;
    color: #fff;
}

body > div{
    display: table;
    margin: 0 auto;
    padding-bottom: 4em;
}

a{
    color: aqua;
}

@media only screen and (max-width: 499px){
    button::-moz-focus-inner {
        border: 0;
    }
}

@media only screen and (min-width: 500px){
    .ssmain button:hover{
        background-color: #999;
    }
}

slideshow{
    display: block;
    width: 80%;
    max-width: 600px;
    margin:0 auto;
}

slideshow div{
    background-color: #fff;
}

/* MAIN */

slideshow .ssmain{
    display: flex;
}

.ssmain button{
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color ease-in-out .1s;
    flex: 1;
}

.ssmain img{
    padding: 1em;
    flex: 8;
    height:1%;
    width:1%;
}

/* THUMBNAILS*/

slideshow .ssthumbnails{
    padding: .5em;
    margin-top: 1em;
}

.ssthumbnails img{
    height: 80px;
}
